  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@300;400;500;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Montserrat', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0A192F;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6a6d8862;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c3b8b80;
}

i {
  cursor: pointer;
}

i:hover {
  color:white;
   
}